@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@500;600;700&family=Poppins:wght@300;400;500;700&display=swap');

:root {
  --space-smallest: 1px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xlg: 64px;
  --space-xxlg: 80px;

  --white: #FFFFFF;
  --gray: #A9A9A9;
  --gray1: #333333;
  --gray2: #4F4F4F;
  --gray3: #828282;
  --gray4: #BDBDBD;
  --gray5: #E0E0E0;
  --gray6: #F2F2F2;

  --black: #000000;
  --black2: #100E1D;
  --blue: #2D9CDB;
  --green: #27AE60;
  --red: #EB5757;

  --logo-color: var(--gray1);
  --menu-color: var(--black);
  --menu-item-color: var(--gray1);
  
  --title-color: var(--gray1);
  --paragraph-color: var(--gray2);
  
  --label-color: var(--gray3);
  --input-text-color: var(--gray4);
  --input-background-color: var(--gray6);
  --input-button-text-color: var(--gray6);
  --input-button-background-color: var(--blue);

  --button-disabled-text-color: var(--gray3);
  --button-disabled-background-color: var(--gray5);

  --text-color: var(--white);
  --footer-text-color: var(--gray6);
  --footer-background-color: var(--black2);
  --background: var(--white);
}

* {
  box-sizing: border-box;
  font-family: "Poppins";
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;

  font-family: "Poppins";
  background: var(--background);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

header {
  height: auto;
  width: 100%;
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header span {
  cursor: pointer;
}

header span:hover {
  color: var(--label-color);
}

header > span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  
  color: var(--logo-color);
}

header span.material-icons#hamburger {
  display: block;
  color: var(--menu-color);
}

header ul#nav-ul {
  display: none;
  width: 100%;
}

header ul#nav-ul.show {
  height: auto;
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

header ul#nav-ul.show li {
  height: auto;
  width: 100%;
  margin: 16px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

header ul#nav-ul.show li:hover a {
  color: var(--label-color);
}

header ul#nav-ul.show li a {
  height: 100%;
  width: 100%;
  text-align: center;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--menu-item-color);
  text-decoration: none;
}

main {
  height: auto;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

main section {
  height: auto;
  width: 100%;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
}

main section#home {
  margin-top: var(--space-lg);
}

main section#home span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  
  color: var(--blue);
  margin-left: 16px;
}

main section h1,
main section#home div.hero-content-wrapper div.content h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  
  color: var(--title-color);
  margin: 0 16px;
  margin-block-start: 0;
  margin-block-end: 0;
}

main section#home img {
  height: auto;
  width: 100%;
  border-radius: 18px;
  margin: 16px 0 22px;
}

main section#home div.hero-content-wrapper div.content p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  
  color: var(--paragraph-color);
  margin: 16px;
}

main section#home div.hero-content-wrapper div.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 16px;
}

main section#home div.hero-content-wrapper div.contact label {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  margin-bottom: 4px;
  color: var(--label-color);
}

main section#home div.hero-content-wrapper div.contact div.input-container {
  height: var(--space-lg);
  width: 100%;
  background-color: var(--input-background-color);
  border-radius: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

main section#home div.hero-content-wrapper div.contact div.input-container input,
main section#home div.hero-content-wrapper div.contact div.input-container button {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border-radius: 12px;
  border: 0;
}

main section#home div.hero-content-wrapper div.contact div.input-container input {
  height: 100%;
  width: auto;
  flex-grow: 1;
  color: var(--input-text-color);
  background-color: var(--input-background-color);
  padding-left: 16px;
}

main section#home div.hero-content-wrapper div.contact div.input-container input:focus {
  outline: none;
}

main section#home div.hero-content-wrapper div.contact div.input-container input::placeholder {
  color: var(--input-text-color);
  background-color: var(--input-background-color);
}

main section#home div.hero-content-wrapper div.contact div.input-container button {
  height: 40px;
  max-width: 71px;
  width: 100%;
  color: var(--input-button-text-color);
  background-color: var(--input-button-background-color);
  margin: 0 4px 0 0;
}

main section#services {
  margin: var(--space-xxlg) 0;
}

main section#services ul {
  width: 100%;
  list-style: none;
  padding: 40px 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

main section#services ul li.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: var(--space);
  padding: 49px 34px 43px;
  margin: 8px 0 8px;
}

main section#services ul li.card span.material-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: var(--space-lg);
  width: var(--space-lg);

  color: var(--white);
  background-color: var(--blue);
  border-radius: 16px;
}

main section#services ul li.card:nth-child(2) span.material-icons {
  background-color: var(--green);
}

main section#services ul li.card:nth-child(3) span.material-icons {
  background-color: var(--red);
}

main section#services ul li.card h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  
  color: var(--title-color);
}

main section#services ul li.card p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  
  color: var(--paragraph-color);
}

main section#services ul li.card button {
  width: 116px;
  height: 42px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  
  color: var(--button-disabled-text-color);
  background-color: var(--button-disabled-background-color);
  border-radius: 12px;
  border: 0;
}

main section#services ul li.card:nth-child(2) button {
  color: var(--white);
  background-color: var(--blue);
}

main section#our-works {
  margin: var(--space-xxlg) 0;
}

main section#our-works ul {
  width: 100%;
  list-style: none;
  padding: 40px 0 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

main section#our-works ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  margin: 0 0 32px 0;
}

main section#our-works ul li img {
  max-height: 296px;
  max-width: 296px;
  height: 100%;
  width: 100%;
  border-radius: var(--space);
  margin-bottom: var(--space-sm);
}

main section#our-works ul li span {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: var(--label-color);
}

main section#our-works ul li span:last-child {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--title-color);
}

main section#our-works a {
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

main section#our-works a {
  color: var(--blue);
}

main section#our-works a span:first-child {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

main section#clients div.top-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main section#clients div.top-content span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  
  color: var(--red);
}

main section#clients div.top-content h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  margin: 0;
  
  color: var(--title-color);
}

main section#clients div.top-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  
  color: var(--paragraph-color);
}

main section#clients div.gallery {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
}

main section#clients div.gallery img {
  border-radius: var(--space);
}

main section#clients div.gallery div.col-1,
main section#clients div.gallery div.col-2 {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section#clients div.gallery div.col-2 {
  align-items: flex-start;
  margin-left: 10px;
}

main section#clients div.gallery div.col-1 img {
  height: 150px;
  width: 150px;
}

main section#clients div.gallery div.col-2 img:nth-child(1) {
  height: 120px;
  width: 120px;
  margin-bottom: 10px;
}

main section#clients div.gallery div.col-2 img:nth-child(2) {
  height: 135px;
  width: 135px;
}

main section#clients div.testimonial {
  height: auto;
  width: 100%;
  padding: 64px 0 80px;
}

main section#clients div.testimonial p {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  
  color: var(--title-color);
}

main section#clients div.testimonial div.person {
  height: 82px;
  /* width: auto; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

main section#clients div.testimonial div.person img {
  height: 82px;
  width: 82px;
  border-radius: 12px;
  margin-right: var(--space-sm);
}

main section#clients div.testimonial div.person div.info {
  height: 82px;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

main section#clients div.testimonial div.person div.info span {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  
  color: var(--title-color);
}

main section#clients div.testimonial div.person div.info span:last-child {
  font-size: 18px;
  line-height: 27px;
  
  color: var(--label-color);
}

footer {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: var(--space);
  background-color: var(--footer-background-color);
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div.footer-links {
  height: auto;
  width: 100%;
  padding: 0 40px 64px;
  
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
}

footer div.footer-links ul {
  height: auto;
  width: 100%;
  list-style: none;
  padding: 36px 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer div.footer-links ul li {
  height: auto;
  width: auto;
  padding: 0 0 12px;
}

footer div.footer-links ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: var(--white);
  text-decoration: none;
}

footer div.footer-links div.social-links {
  width: 100%;
  padding: 64px 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer div.footer-links div.social-links > span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
  
  width: 100%;
  text-align: start;
  color: var(--footer-text-color);
}

footer div.footer-links div.social-links a {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

footer div.footer-links div.social-links a i {
  font-size: var(--space-md);
  color: var(--white);
}

footer div.footer-links div.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer div.footer-links div.contact label {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  margin-bottom: 4px;
  color: var(--label-color);
}

footer div.footer-links div.contact div.input-container {
  height: var(--space-lg);
  width: 100%;
  background-color: var(--input-background-color);
  border-radius: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

footer div.footer-links div.contact div.input-container input,
footer div.footer-links div.contact div.input-container button {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border-radius: 12px;
  border: 0;
}

footer div.footer-links div.contact div.input-container input {
  height: 100%;
  width: auto;
  flex-grow: 1;
  color: var(--input-text-color);
  background-color: var(--input-background-color);
  padding-left: 16px;
}

footer div.footer-links div.contact div.input-container input:focus {
  outline: none;
}

footer div.footer-links div.contact div.input-container input::placeholder {
  color: var(--input-text-color);
  background-color: var(--input-background-color);
}

footer div.footer-links div.contact div.input-container button {
  height: 40px;
  max-width: 71px;
  width: 100%;
  color: var(--input-button-text-color);
  background-color: var(--input-button-background-color);
  margin: 0 4px 0 0;
}

footer span {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--footer-text-color);
  margin-bottom: var(--space);
}

footer span a {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--footer-text-color);
}

@media (min-width: 375px) {

  main section#clients div.gallery div.col-1 img {
    width: 100%;
    height: auto;
  }
  
  main section#clients div.gallery div.col-2 img:nth-child(1) {
    width: 80%;
    height: auto;
  }
  
  main section#clients div.gallery div.col-2 img:nth-child(2) {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) {

  main section#home div.hero-content-wrapper {
    width: 50%;
    align-self: center;
  }

  main section#services ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main section#services ul li.card {
    width: 341px;
  }

  main section#our-works ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;
  }

  main section#our-works ul li {
    margin: 0 12px 32px 12px;
  }

  main section#our-works ul li:nth-child(odd) {
    margin: 100px 6px -32px 0;
  }

  main section#our-works ul li img {
    max-height: 320px;
    max-width: 320px;
  }
  
  main section#our-works a {
    align-self: flex-end;
    margin-right: 50px;
  }

  main section#clients {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  main section#clients div.top-content,
  main section#clients div.gallery {
    width: 40%;
  }

  main section#clients div.testimonial {
    width: 85%;
  }

  footer div.footer-links {
    flex-direction: row;
    padding: 48px 40px 64px;
  }
  
  footer div.footer-links ul,
  footer div.footer-links div.social-links {
    padding: 0;
  }
}

@media (min-width: 1024px) {

  header > span.material-icons#hamburger {
    display: none;
  }

  header ul#nav-ul {
    max-width: 45%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  header ul#nav-ul li {
    display: flex;
  }

  header ul#nav-ul li a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: var(--menu-item-color);
    text-decoration: none;
  }

  main section#services ul li.card button {
    cursor: pointer;
    color: var(--button-disabled-text-color);
    background-color: var(--button-disabled-background-color);
    transition: color 0.8s;
    transition: background-color 0.6s;
  }
  
  main section#services ul li.card:nth-child(2) button {
    color: var(--button-disabled-text-color);
    background-color: var(--button-disabled-background-color);
    transition: color 0.8s;
    transition: background-color 0.6s;
  }

  main section#services ul li.card {
    box-shadow: none;
    transition: box-shadow 0.4s;
  }
  
  main section#services ul li.card:hover {
    box-shadow: 0px 10px 30px rgb(51 51 51 / 10%);
  }
  
  main section#services ul li.card:hover button {
    color: var(--white);
    background-color: var(--blue);
  }
  
  main section#our-works ul li img {
    max-height: 400px;
    max-width: 400px;
  }
  
  main section#our-works a {
    margin-right: 100px;
  }
  
  footer div.footer-links {
    padding: 40px 100px var(--space-lg);
  }
}

@media(min-width: 1440px) {

  header {
    padding: 48px 64px;
  }

  header > span {
    font-size: 36px;
    line-height: 53px;
  }

  header ul#nav-ul {
    max-width: 50%;
  }

  header ul#nav-ul li a {
    font-size: 24px;
    line-height: 36px;
  }

  main section {
    padding: 0 64px;
  }

  main section#home span {
    font-size: 12px;
    line-height: 18px;
  }

  main section h1,
  main section#home div.hero-content-wrapper div.content h1 {
    font-size: 48px;
    line-height: 72px;
  }

  main section#home div.hero-content-wrapper div.content p {
    font-size: 18px;
    line-height: 27px;
  }

  main section#home div.hero-content-wrapper div.contact label {
    font-size: 14px;
    line-height: 21px;
  }

  main section#home div.hero-content-wrapper div.contact div.input-container input,
  main section#home div.hero-content-wrapper div.contact div.input-container button {
    font-size: 18px;
    line-height: 27px;
  }

  main section#services h1,
  main section#our-works h1,
  main section#clients div.top-content h1 {
    font-size: 36px;
    line-height: 54px;
  }
  
  main section#our-works ul li img {
    max-height: 545px;
    max-width: 545px;
  }

  main section#our-works ul li span {
    font-size: 14px;
    line-height: 21px;
  }
  
  main section#our-works ul li span:last-child {
    font-size: 24px;
    line-height: 36px;
  }
  
  main section#our-works a {
    margin-right: 120px;
  }
  
  main section#clients div.top-content,
  main section#clients div.gallery {
    font-size: 36px;
    line-height: 54px;
  }

  main section#clients div.testimonial p {
    font-size: 36px;
    line-height: 54px;
    width: 80%;
  }
}

@media(min-width: 2560px) {

  main section#our-works ul li {
    height: 1000px;
    width: 1000px;
    margin: 0 32px 200px 32px;
  }

  main section#our-works ul li img {
    max-height: 1000px;
    max-width: 1000px;
  }
  
  main section#our-works a {
    margin-right: 256px;
  }

  footer div.footer-links {
    width: 90%;
  }
}